<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>943129171417-mvsrj6970lqkk5a3vcagc177jskdu7a6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.943129171417-mvsrj6970lqkk5a3vcagc177jskdu7a6</string>
	<key>API_KEY</key>
	<string>AIzaSyBtGCA5Mx6TWtDyWheFg3BITDdHim7MRAI</string>
	<key>GCM_SENDER_ID</key>
	<string>943129171417</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.busranurok.duman</string>
	<key>PROJECT_ID</key>
	<string>duman-2c4f5</string>
	<key>STORAGE_BUCKET</key>
	<string>duman-2c4f5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:943129171417:ios:d99132e5d5f3ec0c1d35c8</string>
	<key>DATABASE_URL</key>
	<string>https://duman-2c4f5.firebaseio.com</string>
</dict>
</plist>